body {
  background-color: rgb(205, 153, 212);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

div {
  background-color: #db5f40;
  padding: 10px;
}
header {
  padding: 30px;
  margin-top: 30px;
  font-size: 65pt;
  color: #db5f40;
  font-family: 'Bungee Outline', cursive;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 15px;
}

h2 {
  font-family: 'Bungee Outline', cursive;
  font-weight: 900;
  font-size: 50pt;
  color: #db5f40;
  margin-bottom: 60px;
}

header img {
  max-width: 300px;
  opacity: 80%;
}

nav {
  display: flex;
  background-color: #db5f40;
  color: rgb(223, 172, 223);
  justify-content: space-evenly;
  padding: 20px;
  font-size: 16pt;
}

nav li {
  display: inline;
  margin: 40px;
}

h3 {
  font-size: 15pt;
  margin-top: 40px;
}

div {
  display: flex;
}

nav ~ section {
  display: flex;
  margin: 0 50px;
}

section img {
  margin: 20px;
  max-width: 600px;
}

h4 {
  font-size: 16pt;
  background-color: #db5f40;
  padding: 15px;
}

article {
  font-size: 22pt;
  margin: 60px;
  font-family: 'Permanent Marker', cursive;
  color: #3d3d3d;
}

div img {
  display: inline;
  /* background-color: rgb(205, 153, 212); */
  margin: 20px;
  justify-content: space-evenly;
  max-width: 300px;
}

section {
  display: flex;
  justify-content: space-evenly;
}


section ul {
  display: inline;
  justify-content: space-evenly;
  margin: 20px;
}

footer {
  background-color: rgb(213, 183, 218);
  padding: 20px;
}


/* _______________ SALES PAGE TABLE _________________ */

table {
  border: 10px solid rgb(97, 116, 119);
  margin: auto;
  font-size: 12pt;
}

th {
  background-color: rgb(169, 194, 197);
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  font-weight: 600;
}

td {
  background-color: rgb(147, 189, 185);
  padding: 5px;
  text-align: center;
  border: 1px solid white;
}

#hSales {
  text-align: center;
  margin: 30px;
  font-size: 3em;
  font-weight: 900;
}