body {
  background-color: rgb(205, 153, 212);
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

div {
  background-color: #db5f40;
  padding: 10px;
}
header {
  padding: 30px;
  margin-top: 30px;
  font-size: 65pt;
  color: #db5f40;
  font-family: 'Bungee Outline', cursive;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

header img {
  max-width: 300px;
  opacity: 80%;
}

h1 {
  margin: 15px;
}

h2 {
  font-family: 'Bungee Outline', cursive;
  font-weight: 900;
  font-size: 50pt;
  color: #db5f40;
  margin-bottom: 60px;
}

/* _________________NAV BAR____________________ */

nav {
  display: flex;
  background-color: #db5f40;
  color: rgb(223, 172, 223);
  padding: 20px;
  font-size: 16pt;
  justify-content: center;
}

nav li {
  display: inline;
  margin: 40px;
}

a {
  color: rgb(223, 172, 223);
}
a:link {
  text-decoration: none;
}

/* ______________MAIN_MAIN_MAIN____________________ */

/* ________________FAMILY SECTION__________________ */

section {
  display: flex;
  justify-content: space-evenly;
}

section > img {
  margin-top: 30px;
  max-width: 500px;
  max-height: 400px;
}

article {
  font-size: 20pt;
  margin: 60px;
  color: #3d3d3d;
  justify-content: space-evenly;
}

article > img {
  border-radius: 50%;
  max-width: 150px;
}

article > p {
  margin: 30px 0;
  font-family: 'Permanent Marker', cursive;
  text-align: left;
}

h4 { /* ____________________LOCATIONS ___________________*/
  font-size: 2em;
  background-color: #db5f40;
  padding: 10px;
  margin: 50px 0;
}

section > ul {
  margin: 10px;
  color: #000000;
  margin: 10px;
  font-size: 12pt;
  border: 5px double #db5f40;
  padding: 10px;
}

div { /* __________________ SHOP ___________________*/
  /* justify-content: center; */
  background-color: rgb(205, 153, 212);
  display: flex;
  justify-content: space-evenly;
}

div > img {
  display: inline;
  /* margin: 20px 20px 0 20px; */
  max-width: 300px;
  border-radius: 50%;
}

div > p {
  max-width: 300px;
  color: black;
  font-size: 14pt;
  margin-bottom: 100px;
  text-align: center;
  margin-left: 50px;
}

div ~ section {
  background-color: white;
  justify-content: center;
  border-top: 30px dashed rgb(205, 153, 212);
  padding: 40px;
}
section > p {
  line-height: 15em;
  color: #db5f40;
}
footer {
  background-color: white;
  padding: 20px;
}


/* _______________ SALES TABLE _________________ */

table {
  border: 10px solid rgb(97, 116, 119);
  margin: auto;
  font-size: 12pt;
}

th {
  background-color: rgb(169, 194, 197);
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  font-weight: 600;
}

td {
  background-color: rgb(147, 189, 185);
  padding: 5px;
  text-align: center;
  border: 1px solid white;
}

#Sales {
  text-align: center;
  margin: 30px;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
  margin-top: 40px;
}